.popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.inner {
    position: relative;
    padding: 27px;
    background-color: #E5D0A3;
    border-radius: 0.70rem;
    font-family: 'Patua One', cursive;
    color: #614326;
    font-size: 1.2rem;
    justify-content: center;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #E5D0A3;
}

.close-icon {
    position: relative;
    top: 3px;
    color: #614326;
}