.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-wrapper .card {
    border-radius: 0.75rem;
    max-width: 250px;
    background-color: #fbe4b2;
    padding: 3px;
    overflow: hidden;
}

.card-wrapper .card-image {
    height: 100px;
    object-position: center;
}

.card {
    flex-wrap: wrap;
    align-self: normal;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    overflow: hidden;
}

.image-content .card-img {
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
}

.card-img:hover {
    transform: scale(1.1);
    transition: ease-in-out;
}

.name {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-family: 'Patua One', cursive;
    color: #614326;
}

.subtitle {
    position: relative;
    margin-top: 0.3rem;
    color: rgb(112, 110, 110);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
