.bg {
  background-image: url(/bg.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in {
  font-family: 'Patua One', cursive;
  font-size: 2.5em;
  color: white;
}
